.mainContainer{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(to bottom, #87CEEB, #FFFFFF);


}
.mainBackgroundVideo{
    position:fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer{
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 10%;
    position:absolute;
    color: white;
}

.logo{
    font-family: "Dancing Script", serif;
    font-size: 30px;

}

.navbarContainer .navbar{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}
.Logout{
    background-color: black;
    color: wheat;
    height: 27px;
    display: none;
}

#LogoutButton1 ,#LogoutButton2{
    display: none;
}

button{
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(#4A90E2, #56CCF2);
    color: white;
}


#LoginButton{
    display: block;
}

.animation::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color:#FFD700;
    transform: scaleX(0);
    transition: transform 0.3s ease;  
}

.animation:hover::after{
    transform: scaleX(1);
 }

.galleryContainer{
    padding-top: 100px;
}
 
.GalleryPics{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 10px;
    width: 90%;
}

.GalleryPic2 div, .GalleryPic4 div{
    display: flex;
    flex-direction: row-reverse;
}

.GalleryPics div{
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 18px;

}


.GalleryPics {
    margin: 0 auto;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    width: 100%;
    gap: 30px;
    padding: 40px 0;
    /* position:fixed;
    background-color: aliceblue; */
    position:absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
}

.footerContainer .footerLogo{
    font-size: 30px;
    font-family: "Dancing Script", serif;

}


.footerContainer .footerNavbar{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 18px;
    text-align: center;
}

.footerContainer .footerNavbar a{
    color: black;
}



.hamburgerNavbar{
    background-color: rgb(44, 62, 80);
    padding-top: 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed; /* Position it outside the .dataContainer */
    top: 0%; /* Adjust as needed */
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburgerNavbar div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
}

.hamburgerNavbar div button{
    padding: 5px;
}


#hamburgerNavbar{
    display: none;

}

#hambugerCrossImage{
    display: none;
}


@media (min-width:650px) {
    .navbarContainer .navbar{
        display: flex;
        gap: 11px;
        font-size: 16px;
    }

    .navbarContainer{
        padding: 0 30px;
    }


    .footerContainer .footerNavbar{
        flex-direction: row;
        gap: 20px;

    }

    .footerContainer {
        height: 27%;
        
    }

    .hamburger{
        display: none;
    }
    
    .GalleryPics{

        width: 70%;
    }

    .galleryContainer{
        padding-top: 150px;
    }

    .GalleryPics div{
        margin-bottom: 23px;
    
    }
    
}

@media (min-width:780px) {
    .navbarContainer .navbar{
        gap: 15px;
        font-size: 18px;
    }

    .GalleryPics div{
        margin-bottom: 25px;
    
    }
}

@media (min-width:949px) {
    .weatherContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .mainDynamicWeather{
        margin-top: 13px;
    }   

    .GalleryPics{
        width: 60%;
    }

    .galleryContainer{
        padding-top: 180px;
    }
    
    .GalleryPics div{
        margin-bottom: 28px;
    
    }
}