.mainContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(135, 206, 235), rgb(255, 255, 255));
}
.mainBackgroundVideo{
    position:fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 10%;
    position:absolute;
    /* color: #2F4F4F; */
    color: white;
    background-color: rgb(44, 62, 80);
}

.logo{
    font-family: "Dancing Script", serif;
    font-size: 30px;

}

.navbarContainer .navbar{
    display: none;
}

a{
    text-decoration: none;
    color: white;

}
.Logout{
    background-color: black;
    color: wheat;
    height: 27px;
    display: none;
}

#LogoutButton1 ,#LogoutButton2{
    display: none;
}

button{
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(#4A90E2, #56CCF2);
    color: white;
}

#LoginButton{
    display: block;
}

.animation::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #87CEFA;
    transform: scaleX(0);
    transition: transform 0.3s ease;  
}

.animation:hover::after{
    transform: scaleX(1);
 }
 
.dataContainer{
    width: 100%;
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
}

.dataContainer .dataBox{
    width: 80%;
    min-height: 400px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(190, 189, 189);
    box-shadow: 5px 5px 10px  rgb(208, 206, 206);
    padding-bottom: 20px; 
}


.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    width: 100%;
    gap: 30px;
    padding: 40px 0;
    /* position:fixed;
    background-color: aliceblue; */
    position:absolute;
    background-color: white;
    border: 1px solid rgb(166, 164, 164);
}

.footerContainer .footerLogo{
    font-size: 30px;
    font-family: "Dancing Script", serif;

}


.footerContainer .footerNavbar{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 18px;
    text-align: center;
}

.footerContainer .footerNavbar a{
    color: black;
}

.mainSearchIcon{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.mainSearch div {
    background-color: white;
    width: 230px;
    border-radius: 10px;
    height: 38px;
    padding: 10px;

}

.mainSearch{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 10px auto;
    width: 80%;
    gap: 10px;
    
}

.mainSearch div input{
    background-color: white;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 80%;
}

.mainKarachiWeather{
    /* border: 1px solid; */
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.mainKarachiWeather p{
    margin: 10px 0;
}

.mainKarachiWeather .mainKarachiWeatherBox{
    /* border: 1px solid; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.mainKarachiWeatherBox:hover,.mainLahoreWeatherBox:hover, .mainDaharkiWeatherBox:hover, .mainDynamicWeatherBox:hover{
    transform: scale(1.05);
    transition: 0.3s;

}

.mainLahoreWeather{
    /* border: 1px solid; */
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.mainLahoreWeather p{
    margin: 10px 0;
}

.mainLahoreWeather .mainLahoreWeatherBox{
    /* border: 1px solid; */
    width: 80%;
    background-color: azure;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainDaharkiWeather{
    /* border: 1px solid; */
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.mainDaharkiWeather p{
    margin: 10px 0;
}

.mainDaharkiWeather .mainDaharkiWeatherBox{
    /* border: 1px solid; */
    width: 80%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;

}


.mainDynamicWeather{
    /* border: 1px solid; */
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.mainDynamicWeather p{
    margin: 10px 0;
}

.mainDynamicWeather .mainDynamicWeatherBox{
    /* border: 1px solid; */
    width: 80%;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;

}

.hamburgerNavbar{
    background-color: antiquewhite;
    padding-top: 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed; /* Position it outside the .dataContainer */
    top: 0%; /* Adjust as needed */
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburgerNavbar div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
}

.hamburgerNavbar div button{
    padding: 5px;
}

.hamburgerNavbar div a{
    color: black;
}

#hamburgerNavbar{
    display: none;

}

#hambugerCrossImage{
    display: none;
}


@media (min-width:650px) {
    .navbarContainer .navbar{
        display: flex;
        gap: 11px;
        font-size: 16px;
    }

    .navbarContainer{
        padding: 0 30px;
    }


    .footerContainer .footerNavbar{
        flex-direction: row;
        gap: 20px;

    }

    .footerContainer {
        height: 27%;
        
    }

    .hamburger{
        display: none;
    }
    
}

@media (min-width:780px) {
    .navbarContainer .navbar{
        gap: 15px;
        font-size: 18px;
    }
}

@media (min-width:949px) {
    .weatherContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .mainDynamicWeather{
        margin-top: 13px;
    }   
    
}