body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(135, 206, 235), rgb(255, 255, 255));
}
.RegisterConatiner {
    height: 460px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 12px 0px gray;
}
.RegisterInput {
    width: 230px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-left: 7px;
}
.RegisterHeading {
    text-align: center;
}
.RegisterLabel {
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
}
.RegisterButton {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 245px;
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 27px;
}
.RegisterLoginButton {
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width:593px) {
    .RegisterConatiner{
        width: 370px;
        height: 450px;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .RegisterLabel {
        padding-left: 60px;
    }
    .RegisterButton {
        margin-left: 62px;
    }
    .RegisterInput {
        margin: 5px;
        margin-left: 60px;
        margin-bottom: 17px;
    }
}
